# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app


build
project/include/message_operations.h
project/src/buttons_coords.bin 
.vscode
send_receive_keyb_m
send_receive_keyb_m1
project/src/emulate.cpp
project/src/mouse_move.cpp
project/src/mouse_move