build
.vscode
SendReceiveKeybMess
SendReceiveKeybMess1

clang-format.clang

ButtonsCoords1.bin

EmulateKBMouse
ololo.sh

project/lib/protobufOperations/include/interactionOperations.h
project/lib/protobufOperations/include/operationEmulation.h
project/lib/protobufOperations/include/receiveInteraction.h
project/lib/protobufOperations/include/sendInteraction.h
project/lib/protobufOperations/include/trash.h

project/lib/protobufOperations/src/buttonsCoords.bin
project/lib/protobufOperations/src/emulate.cpp
project/lib/protobufOperations/src/interactionOperations.cpp
project/lib/protobufOperations/src/mouse_move.cpp
project/lib/protobufOperations/src/operationEmulation.cpp
project/lib/protobufOperations/src/pressedButtons.txt
project/lib/protobufOperations/src/receiveInteraction.cpp
project/lib/protobufOperations/src/sendInteraction.cpp
project/lib/protobufOperations/src/trash.cpp
