build
project/include/message_operations.h
project/src/buttons_coords.bin 
.vscode
send_receive_keyb_m
send_receive_keyb_m1
project/src/emulate.cpp
project/src/mouse_move.cpp
project/src/mouse_move
emulate_kb_m/build
